<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35349008308-f0i832q0bgd158ptsr8d68h2eb2purhd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35349008308-f0i832q0bgd158ptsr8d68h2eb2purhd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>35349008308-41k0qobtvfcu71qngvsk5ndb26thc05n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDpI9GCefQGnGNYOjckHS-AuIy6lI2FlII</string>
	<key>GCM_SENDER_ID</key>
	<string>35349008308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.kbl.totem</string>
	<key>PROJECT_ID</key>
	<string>totem-26659</string>
	<key>STORAGE_BUCKET</key>
	<string>totem-26659.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35349008308:ios:bd903a0a3c9a995b206ce1</string>
</dict>
</plist>