<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>unknown</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>webcredentials:stage.heytotem.com</string>
		<string>applinks:stage.heytotem.com</string>
		<string>webcredentials:c.heytotem.com</string>
		<string>applinks:c.heytotem.com</string>
		<string>applinks:link.totem.org</string>
		<string>webcredentials:link.totem.org</string>
		<string>webcredentials:stage.totem.org</string>
		<string>applinks:stage.totem.org</string>
	</array>
</dict>
</plist>
